p{
    font-size: 1.2em;
    margin: 15px 0;
}

.bg {
    background: url(../img/background.jpg);
}

.rm-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#FFF;
   
}

.accroche{
    text-align: center;
}

.rm-badge{
    margin : 10px 0;
    text-align: center;
}

.rm-form {
    margin:40px auto;

}

@media (max-width: 575px) { 
    p {
        font-size: 1.0em;
    }
}